*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
}
body{    
    font-family: 'Roboto', sans-serif;
}
.heading-general {
    font-size: 36px;
    margin: 40px 0;
}


.navbar{
	display: flex;
	position: relative;
	flex-flow: row nowrap;
	font-weight: 400;    
    text-align: left;
	background-color: #f8f9fa;
	padding: 0.5rem 1rem;
	align-items: center;
	
}
.nav-link{
	text-decoration: none;
	font-size: 1rem;
	padding: 0 8px;
}
 ul{
	display: flex;
	justify-content: flex-start;
	list-style: none;
	align-items: center;
	padding: 0;
	margin-right: calc(100vw - 500px);
	margin-left: 0;

}
a{
	text-decoration: none;
}
.nav-link{
	color: rgba(0,0,0,.5);
}
.navbar-brand{
	display: block;
	font-size: 1.25rem;
	white-space: nowrap;
	margin-right: 1rem;
	
}
.navbar-brand,.question{	
	color: rgba(0,0,0,.9);
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}  
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    cursor: pointer;
}  
.exit{
	display: block;
	

}
/*----------------------Добавить вопрос-----------------*/
.container {
    width: 100%;
     margin:0 auto;
     padding: 15px;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
    line-height: 1.2;
}
.form-group{
	margin-bottom: 1rem;
}
.form-control{
	display: block;
    width: 100%;
    border-radius: 0.25rem;
    padding: 6px 12px;
    border: 1px solid #ced4da;
}
label{
	display: inline-block;
	margin-bottom: 0.5rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}
/*----------------Вопросы-------------------*/
.actions{
	margin-bottom: 40px;
}
table{
	border-collapse: collapse;
	width: 100%;
}
table td, table th{	
	    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
	
	
}
thead th{
	padding: 10px;
	vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


@media (max-width: 544px){
	.container{
		max-width: 335px;
		min-width: 200px;
		
	}
	.navbar{
		flex-direction:  row;
		justify-content: space-between;
	}
	.navbar,ul{
		
    margin: 0;
    align-items: center;
    padding: 1rem 0;
	}
	ul{
		flex-flow: column;
		align-items: baseline;
	}
	li{
		margin-bottom: 10px;
	}
	
}


@media (max-width: 285px){
	.navbar{
		flex-flow:  column wrap;
		align-content: stretch;
		justify-content: space-between;
		align-items: baseline;
	}	
	ul{
	
    align-items: baseline;
	}
	.navbar-brand,.exit{
		margin-left: 0.5rem;
	}
	li{
		margin-bottom: 10px;
	}
}

@media (min-width: 768px){
	.container{
		max-width: 720px;
	}
	.navbar{
		flex-flow: row nowrap;
		justify-content: center;
	}
	}

@media (min-width: 992px){
	.container{
		max-width: 940px;
	}
	ul{
		flex-direction: row;
	}

}
@media (min-width: 1200px){
	.container{
		max-width: 1140px;
	}

	ul{
		flex-direction: row;
	}
}
/*---------------Вопросы------------------------*/

